
.input-line {
    margin: 3rem auto;
    height: 30px;
    color: #2e004f;
    border: medium solid #49228b;
    background-color: white;
    padding: 3px;
    width: 80%;
}


.button-basic {
    height: 42px;
    margin: 9px auto;
    text-align: center;
    transition-duration: 0.3s;
    font-size: 1em;
    background: #49d3bd;
    color: #fafafa;
    border: 3px solid #34828b;
    box-sizing: border-box;
    cursor: pointer;
}

.button-cross {
    border: 0;
    background-color: white;
}

.flex-column {
    position: relative;
    left: 3rem;
}

h1{
    color: #160025;
}

.one-skill {
    display:flex;
    width:65%;
    margin: 1rem;
    border: 3px;
    border-style: solid;
    border-radius: 3px;
    padding: 0.75rem;
}
.flex-item {
    flex-grow: 3;
}

.grey-border {
    border-color: #8E9AA2;
}